@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a192f;
  font-family: 'Poppins', sans-serif;
  color: white;
}
/* Experience card bullet style */
.experience-card ul li {
  position: relative;
  padding-left: 1.5rem;
}

.experience-card ul li::before {
  content: "●";
  position: absolute;
  left: 0;
  color: #64ffda; /* Cyan bullet */
  font-size: 1rem;
}
@layer utilities {
  .hover-touch-effect:hover,
  .hover-touch-effect:focus,
  .hover-touch-effect:active {
    transform: scale(1.10);
    color: #64ffda;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .hover-touch-shadow:hover,
  .hover-touch-shadow:focus,
  .hover-touch-shadow:active {
    box-shadow: 0 0 20px rgba(100, 255, 218, 0.6);
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}

